@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@config "../../tailwind.config.ts";

:root {
  --background: #F8F8F8;
  --foreground: #d3d3d3;
  --primary: #4a5d5e;
  --secondary: #D4AF37;
  --third: #1C1C1C;
  --fourth: #022f2e;
  --fifth: #0b4f4a;
  --sixth: #FF9A50;
}

@theme {
  --color-font-primary: var(--foreground) --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --color-fourth: var(--fourth);
  --color-fifth: var(--fifth);
  --color-sixth: var(--sixth);

}

body {
  color: var(--foreground);
  background: var(--fourth);
  font-family: "Montserrat", sans-serif;
}



@keyframes runText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes runText2 {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(0%);
  }
}

.scrollbar-hidden {
  scrollbar-width: none;
  /* Untuk Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Untuk WebKit */
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}